@use '@/styles/mixins' as *
@use '@/styles/variables' as *
    
.page
    background: $background
    display: flex
    justify-content: center
    align-items: center
    color: $foreground
    height: 100%
    width: 100%
    transition: .25s ease-in-out