.input
    backgroundColor: transparent
    height: 4rem
    width: 100%
    borderRadius: 1.5rem
    padding: 1rem
    transition: all
    color: #ffffff
    fontFamily: 'Inter'
    letterSpacing: -0.025rem
    outline: transparent

    &:active
        outline: "none"

    &:focus
        outline: "none"

    &::placeholder
        color: "#ccccccee"