@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Animations */
@keyframes scrollside {
  to {
    transform: translateX(100%);
  }
}

@keyframes blinking {
  from {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}