@use '@/styles/mixins' as *
@use '@/styles/variables' as *
    
.link
    color: $foreground
    font-family: 'Space Grotesk'
    font-size: 3rem
    font-weight: bold
    letter-spacing: -0.05rem
    width: auto
    transition: color .1s ease-in-out

    &:hover
        color: darken($foreground, 33%)

    text-align: center
    @include responsive($query: $md)
        text-align: right