/* Colors */
$background: #000
$foreground: #efefef

$blue: #0022ff


/* Fonts */
$inter: 'Inter'
$karla: 'Karla'
$space: 'Space Grotesk'

$title: $inter
$body: $karla
$display: $space


/* Sizes */
$xl: 87.5em // 4K and high resolution desktops
$lg: 60em   // 1080p and high resolution laptops
$md: 40em   // High resolution tablets and low resolution laptops
$sm: 28em   // Mobile and low resolution tablets
$xs: 20em   // Mobile only