@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor: none;
	
	user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
	-ms-user-select: none;

}

.debug * {
	outline: 1px solid rgb(0, 255, 0, .25);
}

html, body, #root {
	background: black;
	height: 100%;
	width: 100%
}

main {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, li, ul {
	font-family: 'Inter';
}

p {
	font-family: 'Karla, apple-system, Helvetica, sans-serif';
}

h1, h2, h3, h4, h5, li, ul, p {
	height: fit-content;
	width: fit-content;
}

input:focus input:active input:hover {
	outline: none;
	border: none;
}

::-webkit-scrollbar {
	background: transparent;
	border-radius: 3px;
	width: 5px;
	overflow: overlay;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, .2);
	border-radius: 3px;
	width: 3px;
}

/* Custom classes */
.transparent {
	background: transparent;
	background-color: transparent;
}

.pc-center-children > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.absolute-center {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.absolute-center-x {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.flip {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.text-overflow-fade {
	background-color: #fff;
  background-image: linear-gradient(90deg, #fff, #fff 50%, var(--different-background-color) 95%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

/* Animations */
@keyframes pulse {
	from {
	  opacity: 0%;
	}
	
	50% {
	  opacity: 100%;
	}

	to {
	  opacity: 0%;
	}
}

@keyframes marquee {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(-100%, 0);
	}
}